* {
   margin: 0;
    background-color: rgb(60, 60, 60);
}
.footer {
    height: 75px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footertext {
    color: white;
    font-size: 50px;
    font-weight: 700;
    background-color: gray;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    flex-direction: column;
}
.text {
    font-size: 20px;
    color: white;
    text-align: center;
}
#button1 {
    border: black 2px solid;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: purple;
    color: white;
    font-size: 25px;
}

#click {
    background-color: purple;
    font-size: 25px;
    cursor: pointer;
}

